{% extends "home/header.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
  <header>
    {% if messages %}
{% for message in messages %}
    <div class="alert alert-danger font-weight-bold" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <!-- Navbar -->
  </header>
<!--Login-->
<div class="container py-5">
  <h1>Add Comment</h1>
  <form method="POST" action="">
    {% csrf_token %}
      <div> <label> Project Name: </label> {{ form.name}} </div> <br>
      <div><label> Enter Your Comment: </label> <br> {{ form.body}}</div> <br>
    <br>
    <button class="btn btn-primary" type="submit">Add Comment</button>
  </form>

</div>

{% endblock %}
